@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.EventsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<h1>Upcoming Events</h1>

<ul>
    @foreach (var anEvent in Model.Children<ContentModels.Event>())
    {
        <li>
            @* Add a link to the event's page *@
            <h2><a href="@anEvent.Url()">@anEvent.Value("eventTitle")</a></h2>
            <p><strong>Date:</strong> @anEvent.Value("startDateTime", fallback: Fallback.ToDefaultValue, defaultValue: DateTime.Now.ToString("MMMM dd, yyyy"))</p>
        </li>
    }
</ul>